<!DOCTYPE html>
<html>
    <head>
        <title>Anna</title>
    </head>
    <body style="background-image: url('static/anna_wp.jpg');background-repeat: no-repeat; background-size: cover">
        <header style="text-align: center;">
            <h1>The Story of Anna Bray</h1>
            <h2><p>The Gun Slinger</p></h2>
            <h3>
                <p>
                    <var> {{ book_html }} </var>   
                </p>                                       
            </h3>
        </header>
    </body>
</html>